.projectDesc-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5%;
  /* padding: 2% 2% 2% 0; */
  /* border: 5px solid black; */
}

.projectDesc-title {
  display: flex;
  flex-direction: column;
  /* font-size: 100%; */
  /* font-size: ; */
}

.notionEmpty {
  display: none;
}
