.About-box {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* border: 5px solid black; */
}

.About-body1 {
  text-align: center;
  /* border: 2px solid black; */
  flex: 1;
  height: 50%;
  display: flex;
  margin-top: 5%;
}

.About-body2 {
  /* border: 2px solid rgb(184, 88, 88); */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* text-align: center; */
  align-items: center;
  /* margin-top: 5%; */
  /* padding: 10px; */
  /* margin: 5%; */
}

.About-photo {
  display: flex;
  flex: 1;
  /* border: 5px solid rgb(146, 83, 83); */
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.rio {
  height: 450px;
  width: 600px;
  border-radius: 50px;
}

.About-intro {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 5px solid rgb(141, 63, 63); */
  /* margin: 5%; */
  list-style: none;
  justify-content: center;
  /* align-items: center; */
  /* text-align: start; */
}

.intro-detail {
  /* justify-content: center; */
  /* align-items: center; */
  text-align: start;
  padding: 8px 12px;
  /* border: 1px solid rgb(15, 2, 87); */
}

/* ! font size */

.middle-title {
  font-size: 32px;
  margin-top: 50px;
  /* border: 1px solid rgb(15, 2, 87); */
}
.second-title {
  /* border: 1px solid rgb(15, 2, 87); */
  /* margin-bottom: 10px; */
  margin-top: 50px;
  font-size: 28px;
}
.element {
  /* border: 1px solid rgb(15, 2, 87); */
  margin-top: 20px;
  font-size: 20px;
}

.experience-box {
  /* border: 1px solid rgb(15, 2, 87); */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.experience-detail {
  justify-content: center;
  align-items: center;
  /* text-align: start; */
  width: 50%;
  /* border: 1px solid rgb(15, 2, 87); */
  font-size: 16px;
  margin-top: 10px;
  list-style: none;
  display: flex;
}

.middle-title {
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid rgb(15, 2, 87); */

  text-align: center;
}

.body2-box {
  display: flex;
  /* border: 1px solid rgb(15, 2, 87); */
  text-align: center;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  margin: 5%;
}

.About-stack {
  flex: 1;
  /* width: 40%; */
  /* border: 1px solid rgb(15, 2, 87); */
  margin-bottom: 5%;
}
.About-education {
  /* width: 40%; */
  flex: 1;
  margin-bottom: 5%;
  /* border: 1px solid rgb(15, 2, 87); */
}
.About-experience {
  /* width: 40%; */
  flex: 1;
  margin-bottom: 5%;
  /* border: 1px solid rgb(15, 2, 87); */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: 10px; */
}
.About-contact {
  flex: 1;
  /* width: 40%; */
  margin-bottom: 5%;
  /* border: 1px solid rgb(15, 2, 87); */
  /* align-items: center; */
  /* text-align: center; */
}

.email-box {
  display: flex;
  /* border: 1px solid rgb(15, 2, 87); */
  justify-content: center;
  padding: 8px 12px;
  margin-top: 20px;
}

.email-icon {
  /* padding-left: 10px; */
  /* margin-left: 10px; */
  /* border: 1px solid rgb(15, 2, 87); */
  padding: 8px 12px;
  /* size: 20px; */
}

.contact-element {
  /* flex: 1; */
  /* border: 1px solid rgb(15, 2, 87); */
  padding: 8px 12px;
  font-size: 20px;
}

.icon-box {
  display: flex;
  flex: 1;
  /* border: 1px solid rgb(15, 2, 87); */
  justify-content: center;
  padding: 8px 12px;
  /* background-color: antiquewhite; */
}

.github-icon2 {
  text-decoration: none;
  color: black;
  /* size: 3x; */
  padding: 8px 12px;
  /* border: 1px solid rgb(15, 2, 87); */
}

.medium-icon {
  text-decoration: none;
  /* border: 1px solid rgb(15, 2, 87); */
  padding: 8px 12px;
  color: black;
}

/* ! 보라색 없애기 */
/* a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
} */

/* ! 반응형 처리 */

@media screen and (max-width: 1024px) {
  .About-body1 {
    flex-direction: column;
    align-items: center;
  }

  .middle-title {
    font-size: 20px;
    margin-top: 50px;
    /* border: 1px solid rgb(15, 2, 87); */
  }
  .second-title {
    /* border: 1px solid rgb(15, 2, 87); */
    /* margin-bottom: 10px; */
    margin-top: 50px;
    font-size: 16px;
  }
  .element {
    /* border: 1px solid rgb(15, 2, 87); */
    margin-top: 20px;
    font-size: 14px;
  }

  .experience-detail {
    /* border: 1px solid rgb(15, 2, 87); */
    font-size: 12px;
    margin-top: 10px;
  }

  .contact-element {
    /* border: 1px solid rgb(15, 2, 87); */
    align-items: center;
    font-size: 12px;
  }

  .About-intro {
    font-size: 12px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 60%; */
  }

  .intro-detail {
    /* justify-content: center; */
    /* align-items: center; */
    padding: 4px 8px;
    /* border: 1px solid rgb(15, 2, 87); */
  }
  .email-box {
    /* border: 1px solid rgb(15, 2, 87); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* margin-top: 5%; */
  }
  .rio {
    height: 300px;
    width: 400px;
    /* border-radius: 50px; */
  }
}
