.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-direction: row;
  width: 95%;
  margin: 1%;
  /* border: 5px solid black; */
}

.header-left {
  width: 50%;
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  /* justify-self: center; */
  align-items: center;
  /* align-items: flex-end; */
  /* text-align: center; */
  /* border: 5px solid black; */
}

.title-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-items: end; */
  justify-content: flex-end;
  /* text-align: end; */
  /* border: 5px solid black; */
}

.Lama {
  height: 5%;
  width: 9%;
  border-radius: 20px;
  /* border: 5px solid black; */
}
.name {
  flex: 1;
  padding: 8px 12px;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  /* border: 5px solid black; */
  font-weight: 500;
}
/* .name:hover {
  background-color: antiquewhite;
  border-radius: 4px;
} */

.future {
  flex: 1;
  padding: 8px 12px;
  text-decoration: none;
  color: #000000;

  /* font-weight: 500; */
  /* font-size: 30px; */

  /* border: 5px solid black; */
}
.header-right {
  width: 50%;
  text-align: right;
  /* text-align: center; */
  /* border: 5px solid black; */
}

.link {
  /* margin-right: 3%; */
  margin: 1%;
  /* padding-bottom: 1%; */
  padding: 8px 12px;
  user-select: none;
  color: #212529;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  background-color: antiquewhite;
  border-radius: 4px;
}

/* .underLine {
  border-bottom: 1px #212529 solid;
} */

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */
@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex: 1;
    /* justify-content: start; */
    /* align-items: center; */
    text-align: center;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    padding: 5%;
    border-bottom: 1px solid #ced4da;
    /* border: 5px solid black; */
  }
  .header-left {
    width: 80%;
    display: flex;
    /* align-items: flex-start; */
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 3%; */
    /* justify-self: center; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* text-align: center; */
    /* border: 5px solid black; */
    /* padding-bottom: 20px; */
  }
  .title-box {
    /* display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* border: 5px solid black; */
  }

  .header-right {
    width: 70%;
    /* text-align: right; */
    padding: 10px;
    text-align: center;
    /* border: 5px solid black; */
  }
  .Lama {
    width: 10%;
    /* display: none; */
    /* position: absolute; */
    /* border: 5px solid black; */
  }
  .name {
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 500;
  }

  .future {
    font-size: 12px;
  }

  .link {
    /* padding: 10px; */
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    font-size: 14px;
  }
}
