.header-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 95%;
  margin: 1%;
  /* border: 5px solid black; */
}

.header-left {
  width: 50%;
  /* justify-self: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* border: 5px solid black; */
}

.name {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}
.header-right {
  width: 50%;
  text-align: right;
  /* text-align: center; */
  /* border: 5px solid black; */
}

.link {
  margin-right: 3%;
  padding-bottom: 1%;
  user-select: none;
  color: #212529;
  font-size: 20px;
  text-decoration: none;
}
.underLine {
  border-bottom: 1px #212529 solid;
}
